<table>
    <tr>
        <th>Orders total</th>
        <th>Orders delivered</th>
        <th>Orders in process</th>
        <th>Orders not delivered</th>
    </tr>
    <tr>
        <td>{{ orders_count }}</td>
        <td>{{ orders_delivered }}</td>
        <td>{{ orders_in_process }}</td>
        <td>{{ orders_not_delivered }}</td>
    </tr>
</table>
<table>
<tr>
        <td align="center">Image</td>
        <td align="center">Product</td>
        <td align="center">Status</td>
        <td align="center">Customer</td>
        <td align="center">Date</td>
</tr>
    {% for order in orders %}
    <tr>
        <td><img src="{{ order.product.image.url }}" width="100" height="100"></td>
        <td>{{ order.product.name }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.customer }}</td>
        <td>{{ order.date_created }}</td>
    </tr>
    {% endfor %}
</table>