<nav>
    Hello, {{ request.user }}
</nav><form action="{% url 'logout' %}"><button class=b1>Logout</button></form>
<form action="" method="GET">
{{ filter.form }}
    <input type="submit" name="Confirm">
</form>
<table>
    <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Model</td>
        <td>Manufacturer</td>
        <td>Gender</td>
        <td>Size</td>
        <td>Product Type</td>
        <td>Price</td>
</tr>
{% for product in products %}
<tr>
    <td><img src="{{ product.image.url }}" width="80px" height="90px"></td>
    <td>{{ product.name }}</td>
    <td>{{ product.product_model }}</td>
    <td>{{ product.manufacturer }}</td>
    <td>{{ product.gender }}</td>
    <td>{{ product.size }}</td>
    <td>{{ product.product_type }}</td>
    <td>{{ product.price }}</td>
    <td><a href="{% url 'order-create' product.id %}">Buy</a></td>
</tr>

{% endfor %}
</table>